<h1>Welcome to the Trip Planner</h1>
<p>For all your trip stuff plan doing needs.</p>

<ol>
  <% @trips.each do |trip| %>
    <li><%= link_to trip.name, trip_path(trip.id) %></li>
    <%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ol>
<%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
<%= link_to 'New Trip', new_trip_path %>
<br>
<%= link_to 'View Locations', locations_path %>