<h1><%= @trip.name %></h1>

<table>
  <tr>
    <th scope="col">Address</th>
    <th scope="col">Location</th>
  </tr>
  <% @trip.addresses.each do |address| %>
  <tr>
    <td><%= address.name %></td>
    <td><%= address.location.name %></td>
    <td><%= link_to 'Remove', delete_trip_address_path(@trip, address) %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Add Address', new_trip_address_path(@trip) %>
<%= link_to 'Home', root_path %>