<h1>Destinations</h1>
<% if @locations.any? %>
  <p>User-added Destinations</p>
    <ul>
      <% @locations.each do |location| %>
        <li><h3><%= link_to location.name, location_path(location.id) %></h3></li>
        <%= link_to '<i class="erase icon"></i>'.html_safe, location, method: :delete, data: { confirm: 'Erase Destination?' } %>
        <%= link_to '<i class="edit icon"></i>'.html_safe, edit_location_path(location), data: { confirm: 'Edit Destination Name?' } %>
        <br>
      <% end %>
    </ul>
    <%= link_to 'New Destination', new_location_path, class: "ui positive button" %>
  <% else %>
    <h3>No Destination cities found!</h3><%= link_to 'Add a New Destination', new_location_path , class: "ui positive button"%>
<% end %>
