

  <% if @locations.any? %>
<div class="page_title_button">
<h1>Destinations</h1>
</div>
<div class="ui grid">
  <% @locations.each do |location| %>
  <div class="sixteen wide mobile eight wide tablet four wide computer column">
    <div class="ui card">
      <div class="image">
        <img src="" />
      </div>
      <div class="content">
        <%= link_to location.name, location_path(location.id), class: "header" %>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui yellow button basic">
              <%= link_to '<i class="erase icon"></i>'.html_safe, 
              location, 
              method: :delete, data: { confirm: 'Erase Destination?' } %>
          </div>
          <div class="ui red button basic">
            <%= link_to '<i class="edit icon"></i>'.html_safe, edit_location_path(location), data: { confirm: 'Edit Destination Name?' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div><br>
<div class="page_title_button">
  <%= link_to 'Add a New Destination', new_location_path , class: "ui teal button"%>
</div>
<% else %>
</div>
<div class="page_title_button"><br>
  <h3>No Destination cities found!</h3>
  <br><%= link_to 'Add a New Destination', new_location_path , class: "ui teal button"%>
</div>
<% end %>