<h1><%= @location.name %></h1>

<ul>
  <% @location.addresses.each do |address| %>
  <li><%= @location.addresses.name %></li>
  <% end %>
</ul>

<%= link_to 'New Address', new_location_address_path(@location) %>
<br>
<%= link_to 'View All Locations', locations_path %>
<br>
<%= link_to 'Home', root_path %>